@{
    ViewBag.Title = "Utah Garden Challenge | Challenge Prizes";
}

<div class="row prizes">
	<div class="span12">
		<h1>Garden Challenge Prizes</h1>
		<p>All prizes are randomly selected from the registration for each 1000 signups.</p>
		@*<h3>Individual</h3>*@
		<ul>
			<li><a href="http://ifacountrystores.com/" target="_blank">IFA Country Store</a> Giftcard ($500 giftcard for every 1000 signups)</li>
			<li>Dinner at <a href="http://www.canyonsresort.com/diningdetails.html?dinid=10666" target="_blank">The Farm</a> or <a href="http://www.parkcitywaldorfastoria.com/the-restaurant/index.cfm" target="_blank">Slopes</a> by Talisker in Park City ($100 giftcard for every 1000 signups)</li>
		</ul>
		@*<h3>Community</h3>
		<p>
			To be announced.
		</p>*@
	</div>
	<div class="span12">
		<h3>Rules / Qualifications</h3>
		@*<h3>Individual</h3>*@
		<ul>
			<li>Must provide a valid email address</li>
			<li>One entry per email</li>
			<li>Contest limited to 20 winners</li>
		</ul>
        

		@*<h3>Community</h3>*@
	</div>
</div>


