<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://utahgardenchallenge.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>waws-prod-blu-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>UtahGardenChallenge</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$UtahGardenChallenge</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DatabaseDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:zk9v5m52gl.database.windows.net,1433;Initial Catalog=UtahGardenChallenge;User ID=NexBusiness@zk9v5m52gl;Password=159kbcs!" Name="Data Source=tcp:zk9v5m52gl.database.windows.net,1433;Initial Catalog=UtahGardenChallenge;User Id=NexBusiness@zk9v5m52gl;Password=159kbcs!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="UtahsOwnGardenChallenge.Data.DatabaseDbContext, UtahsOwnGardenChallenge.Data" MigrationConfiguration="UtahsOwnGardenChallenge.Data.Migrations.Configuration, UtahsOwnGardenChallenge.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-UtahsOwnGardenChallenge.Mvc-20120823014302;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-UtahsOwnGardenChallenge.Mvc-20120823014302;Integrated Security=SSPI" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DatabaseDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:zk9v5m52gl.database.windows.net,1433;Initial Catalog=UtahGardenChallenge;User Id=NexBusiness@zk9v5m52gl;Password=159kbcs!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
  </ItemGroup>
</Project>